.row {
    margin:auto;
    padding: 20px;
    background-color: black; 
}

.col  { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

.card{
    font-size: 4.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100% !important;
    height: 100%;
    color: white;
    background-color:black;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #3e3e42;
}


